<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Mail</title>
    <style>
        /* CSS Comment */
        body{
            font-family: Arial, sans-serif;
            background-color: #ffffff; /* 흰색 배경 */
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .logo {
            display: block; /* 인라인 요소를 블록 요소로 변경하여 수평 가운데 정렬 가능 */
            margin: 0 auto; /* 수평 가운데 정렬 */
            margin-top: 60px; /* 하단 마진을 20px로 설정 */
            margin-bottom: 30px; /* 하단 마진을 20px로 설정 */
        }


    </style>
</head>
<body>
<a href="/">
    <img src="/images/ApollonLogo.png" alt="Your Logo" class="logo">
</a>
<h1>임시비밀번호 발급</h1>
<form id="emailForm" action="/sendmail/password" method="POST">
    <label for="email">이메일 주소를 입력해주세요:</label><br>
    <input type="email" id="email" name="email" required><br><br>
    <button type="submit">발급받기</button>
</form>

<script>
    // Form submission
    document.getElementById("emailForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent default form submission

        // Get email address from the form
        var email = document.getElementById("email").value;

        // Create a JSON object with the email address
        var data = {
            "email": email
        };

        // Send POST request to the server
        fetch("/sendmail/password", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (response.ok) {
                alert("Email sent successfully!");
            } else {
                throw new Error("Failed to send email.");
            }
        })
        .catch(error => {
            console.error("Error:", error);
            alert("Failed to send email. Please try again later.");
        });
    });
</script>
</body>
</html>