/* 환영인사(상단 타이틀) */
.myPage-container > .welcome-box {
    height: 80px;
    text-align: center;
}

.myPage-container > .welcome-box > span {
    font-weight: 700;
    height: 100%;
    font-size: 23px;
    line-height: 80px;
}

/* 마이페이지 시작 */
.myPage-container > .myPage-detail {
    height: 550px;
    display: flex;
    margin-top: 20px;
}

/* 프로필 사진 */
.myPage-container > .myPage-detail > .myPicture {
    flex-grow: 2;
    flex-basis: 0;
}

.myPage-container > .myPage-detail > .myPicture > .picture-container {
    width: 300px;
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.myPage-detail > .myPicture > .picture-container > .profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.myPage-detail > .myPicture > .picture-container > .profile-picture > img {
    width: 100%;
    height: 100%;
}

.myPage-detail > .myPicture > .picture-container > .profile-hashtag {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    background-color: #36454F;
    border-radius: 6px;
}

.myPage-detail > .myPicture > .picture-container > .profile-hashtag > span {
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
}

/* 회원 정보 */
.myPage-container > .myPage-detail > .myInfo {
    flex-grow: 2.5;
    flex-basis: 0;
    margin-left: 60px;
}

.myPage-detail > .myInfo > .info-container {
    width: 650px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.myPage-detail > .myInfo > .info-container > .profile-detail {
    flex-grow: 2;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.myPage-detail > .myInfo > .info-container > .profile-detail > div > .title {
    font-size: 17px;
    font-weight: bold;
}

.myPage-detail > .myInfo > .info-container > .profile-detail > div > .text {
    font-size: 17px;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
    border: 3px solid #36454F;
    border-radius: 6px;
    height: 30px;
    width: 300px;
}

.myPage-detail > .myInfo > .info-container > .profile-detail > div > .text > span {
    padding: 5px 10px 5px 10px;
    line-height: 30px;
}

.myPage-detail > .myInfo > .info-container > .apollonIntro {
    border: 1px solid #36454F;
    border-radius: 6px;
    flex-grow: 1;
    flex-basis: 0;
    margin-top: 40px;
    margin-left: 20px;
    padding-left: 10px;
}

/* 유저 버튼 */
.myPage-container > .userBtn {
    height: 60px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myPage-container > .userBtn > a {
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #36454F;
}

.myPage-container > .userBtn > .modify-btn {
    margin-right: 50px;
}