html > ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 상단 환영 인사 및 검색창 */
.container {
    height: 730px;
}

/* 환영 인사 */
.container > .welcome-box {
    height: 80px;
    text-align: center;
}

.container > .welcome-box > span {
    font-weight: 700;
    height: 100%;
    font-size: 23px;
    line-height: 80px;
}

/* 회원가입 폼 시작 */
.container > .signup-form {
    height: 650px;
}

.container > .signup-form > .input-box {
    border: 1px solid #8d8d8d;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 800px;
}

.container > .signup-form > .input-box > form {
    padding : 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

.container > .signup-form > .input-box > form > div {
    height: 80px;
    display: flex;
    flex-direction: column;
}

.container > .signup-form > .input-box > form > div > span {
    font-weight: 700;
    font-size: 18px;
}

/* 아이디 입력창 세부 설정 시작 */
.container > .signup-form > .input-box > form > .id-box > .chk-id {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.container > .signup-form > .input-box > form > .id-box > .chk-id > input {
    height: 30px;
    width: 350px;
    border-radius: 6px;
}

.container > .signup-form > .input-box > form > .id-box > .chk-id > button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #36454F;
    font-family: 'Pretendard-Regular';
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
/* 아이디 입력창 세부 설정 끝 */

.container > .signup-form > .input-box > form > .nickname-box > .nickname-info > span:first-child {
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
}

/* 나머지 input-box 설정 */
.container > .signup-form > .input-box > form > div > input {
    margin-top: 10px;
    height: 30px;
    width: 350px;
    border-radius: 6px;
}

/* 버튼 설정 */
.container > .signup-form > .input-box > form > .signup-btn {
    height: 40px;
    display: block;
    text-align: right;
    padding-right: 40px;
}

.container > .signup-form > .input-box > form > .signup-btn > button {
    width: 80px;
    font-size: 17px;
    background-color: #36454F;
    font-family: 'Pretendard-Regular';
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 20px;
}

.error {
    color: red;
}

.success {
    color: blue;
}

#profilePicturePreview{
    margin: -490px 0 0 450px;
}