/* 노멀라이즈 */
body, ul, li {
    margin: 0; padding: 0;
    list-style: none;
}

a, input {
  color: inherit;
  text-decoration: none;
}

button, input {
    line-height: normal;
    outline: none;
}

button {
  border: 0;
  background-color: transparent;
}

input: focus {
    outline: none;
}

/* 페이지가 1025px 이상일때만 반응형으로 작동 */
@media (min-width: 1025px) {
  .header_wrap {
    max-width: 1480px;
  }
}

/* 푸터 컨테이너 커스텀 */
.footer_container {
    margin-left: auto; margin-right: auto;
    width: 1800px; height: 90px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    left: 0; right: 0;
}

/* 음악 플레이바 */
.footer_play_box {
    background-color: #111111;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%; height: 100%;
}

.footer_play_set {
    display: flex;
}

/* 확장 버튼 부모격 */
.music_myPlayList_box {
    width: 30px; height: 25px;
    display: flex;
    margin-left: 900px;
    position: relative; /* 부모 엘리먼트 위치 기준 */
}

/* 확장버튼 */
.myPlayList-btn_icon i {
    color: #808080;
    cursor: pointer; /* 클릭 가능한 커서 추가 */
}

.myPlayList-btn_icon .fa-angle-down {
    display: none;
}

.absolute {
  background-color: #808080;
  width: 100%;
  height: 400%;
  left: 0;
  position: absolute;
  top: 100%; /* 부모 엘리먼트 아래에 위치 */
  display: none; /* 기본적으로 숨김 처리 */
}

/* 음악 플레이바 디테일 */
.footer_play_detail {
    display: flex;

}

/* 음악 플레이바 왼쪽 */
.footer_play_playBar {
    margin-left: 50px;
    margin-bottom: 10px;
    width: 240px;
}

.playSetting {
    display: flex;
    height: 40px;
}

.growSet {
    flex-grow: 1; flex-basis: 0;
    display: flex;
    align-items: center;
}

.fa-solid {
    color: #FFF;
    cursor: pointer;
}

/* 나중에 재생 아이콘 누르면 일시정지 아이콘이 보여짐 */
/* 재생과 일시정지 아이콘 번갈아가며 보여지고 꺼지고 */
.growSet > .fa-pause {
    display: none;
}

/* 음악 플레이바 중간 */
.footer_play_musicMiddle {
    flex-grow: 1;
    display: flex;
}

/* 타임라인 */
.musicMiddle_column {
    width: 740px;
}

.music_timeLine {
    height: 20px;
    border: 1px solid red;
    margin-top: 10px;
}

/* 볼륨 */
.volume {
    flex-grow: 1;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.volume > .vol_icon {
    margin-left: auto; margin-right: auto;
}

/* 음악 플레이바 오른쪽 */
.footer_play_musicInformation {
    width: 630px; height: 60px;
    margin-right: 50px;
    display:flex;
    justify-content: flex-end;
}

.footer_play_musicInfo {
    display: flex;
    align-items: center;
}

/* 플레이바 오른쪽 곡 썸네일 */
.info_thumbnail {
    width: 170px; height: 60px;
    display: flex;
    justify-content: center;
}
.info_info_thumbnail_frame {
    width: 120px; height: 50px;
    margin-bottom: 10px;
    border: 1px solid red;
}


/* 플레이바 오른쪽 곡 정보 */
.info_box {
    width: 300px; height: 50px;
    border: 1px solid orange;
    display: flex; flex-direction: column;
    margin-bottom: 10px;
}
.info_uploadUser {
    height: 20px;
}

.info_musicTitle {
    height: 30px;
}

.info_uploadUser a,
.info_musicTitle a {
    color: #FFF;
}

/* 플레이바 오른쪽 아이콘 */
.info_icon {
    width: 160px; height: 60px;
    display: flex;
    text-align: end;
    align-items: center;
    margin-bottom: 10px;
}

.info_icon > .growSet {
    display: inline-block;
}

