
/* 노멀라이즈 */
body, ul, li {
    margin: 0; padding: 0;
    list-style: none;
}

a, input {
  color: inherit;
  text-decoration: none;
}

button, input {
    line-height: normal;
    outline: none;
}

button {
  border: 0;
  background-color: transparent;
}

input: focus {
    outline: none;
}

/* 페이지가 1025px 이상일때만 반응형으로 작동 */
@media (min-width: 1025px) {
  .header_wrap {
    max-width: 1480px;
  }
}

audio{
    display: none;
}

/* 푸터 컨테이너 커스텀 */
.footer_container {
    margin-left: auto; margin-right: auto;
    width: 1800px; height: 480px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: -400px;
    left: 0; right: 0;
    transition: bottom 0.3s ease;
}

.footer_container.open {
  bottom: -20px;
  }

/* 음악 플레이바 */
.footer_play_box {
    background-color: #111111;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%; height: 100%;
}

.footer_play_set {
    display: flex;
}

/* 확장 버튼 부모격 */
.music_myPlayList_box {
    width: 30px; height: 25px;
    display: flex;
    margin-left: 900px;
}

/* 확장버튼 */
.myPlayList-btn_icon i {
    color: #808080;
}

.fa-angle-up {
    transition: transform 0.3s ease-in-out;
}

.fa-angle-up:hover {
    transform: scale(1.3); /* 마우스를 올렸을 때 아이콘 크기 확대 */
}

.myPlayList-btn_icon .fa-angle-down {
    display: none;
}

.fa-angle-down {
    transition: transform 0.3s ease-in-out;
}

.fa-angle-down:hover {
    transform: scale(1.3); /* 마우스를 올렸을 때 아이콘 크기 확대 */
}

/* 음악 플레이바 디테일 */
.footer_play_detail {
    display: flex;
    border-bottom: 0.5px solid #3D3D3D;
}

/* 음악 플레이바 왼쪽 */
.footer_play_playBar {
    margin-left: 50px;
    margin-bottom: 10px;
    width: 240px;
}

.playSetting {
    display: flex;
    height: 40px;
}

.growSet {
    flex-grow: 1; flex-basis: 0;
    display: flex;
    align-items: center;
}

.fa-solid {
    color: #FFF;
}
.fa-backward-step {
    transition: transform 0.3s ease-in-out;
}

.fa-backward-step:hover {
    transform: scale(1.3); /* 마우스를 올렸을 때 아이콘 크기 확대 */
}

.fa-forward-step {
    transition: transform 0.3s ease-in-out;
}

.fa-forward-step:hover {
    transform: scale(1.3); /* 마우스를 올렸을 때 아이콘 크기 확대 */
}

.fa-shuffle {
    transition: transform 0.3s ease-in-out;
}

.fa-shuffle:hover {
    transform: scale(1.3); /* 마우스를 올렸을 때 아이콘 크기 확대 */
}

.fa-repeat {
    transition: transform 0.3s ease-in-out;
}

.fa-repeat:hover {
    transform: scale(1.3); /* 마우스를 올렸을 때 아이콘 크기 확대 */
}

.fa-play {
    transition: transform 0.3s ease-in-out;
}

.fa-play:hover {
    transform: scale(1.3); /* 마우스를 올렸을 때 아이콘 크기 확대 */
}

.fa-backward-step {
    transition: transform 0.3s ease-in-out;
}

.fa-backward-step:hover {
    transform: scale(1.3); /* 마우스를 올렸을 때 아이콘 크기 확대 */
}

.fa-forward-step {
    transition: transform 0.3s ease-in-out;
}

.fa-forward-step:hover {
    transform: scale(1.3); /* 마우스를 올렸을 때 아이콘 크기 확대 */
}

.fa-shuffle {
    transition: transform 0.3s ease-in-out;
}

.fa-shuffle:hover {
    transform: scale(1.3); /* 마우스를 올렸을 때 아이콘 크기 확대 */
}

.fa-repeat {
    transition: transform 0.3s ease-in-out;
}

.fa-repeat:hover {
    transform: scale(1.3); /* 마우스를 올렸을 때 아이콘 크기 확대 */
}

.fa-play {
    transition: transform 0.3s ease-in-out;
}

.fa-play:hover {
    transform: scale(1.3); /* 마우스를 올렸을 때 아이콘 크기 확대 */
}

/* 재생 아이콘 누르면 일시정지 아이콘이 보여짐 */
/* 재생과 일시정지 아이콘 번갈아가며 보여지고 꺼지고 스위치처럼 똑딱똑딱 */
.growSet > .fa-pause {
    display: none;
}

.fa-pause {
    transition: transform 0.3s ease-in-out;
}

.fa-pause:hover {
    transform: scale(1.3); /* 마우스를 올렸을 때 아이콘 크기 확대 */
}

/* 음악 플레이바 중간 */
.footer_play_musicMiddle {
    flex-grow: 1;
    display: flex;
}

/* 타임라인 */
.musicMiddle_column {
    width: 840px;
}

.material-icons {
    color: #FFF;
}

input[type="range"] {
    -webkit-appearance: none !important;
    margin: 0px;
    padding: 0px;
    background: #FFF;
    height: 10px;
    width: 650px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
  }

  input[type="range"]::-ms-fill-lower {
    background: #FFF;
  }

  input[type="range"]::-ms-fill-upper {
    background: #FFF;
  }

  input[type="range"]::-moz-range-track {
    border: none;
    background: #FFF;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #36454F;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    box-shadow: -100vw 0 0 100vw #36454F;
  }

  input[type="range"]::-moz-range-thumb {
    background: #36454F;
    height: 8px;
    width: 8px;
    border-radius: 100%;
  }

  input[type="range"]::-ms-thumb {
    -webkit-appearance: none !important;
    background: #36454F;
    height: 8px;
    width: 8px;
    border-radius: 100%;
  }

.music_timeLine {
    height: 20px;
    margin-top: 10px;
    width: 840px;
    display: flex; justify-content: center;
}

/* 볼륨 */
.volume-box {
    display: none;
    position: absolute;
    left: 65%;
    top: 10px;
    transform: translateX(-50%);
    z-index: 1;
    padding: 0 20px;

    .volume-down {
      position: absolute;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #FFF;
    }

    .volume-up {
      position: absolute;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #FFF;
    }

    .volume-up::selection {
      background-color: #FFF;
    }

    input[type="range"] {
      height: 5px;
      width: 150px;
      margin: 0 0 15px 0;
    }
}

.music-box {
    display: flex;
    align-items: center;
}

.current-time,
.duration {
    width: 60px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
}

.volume-box.active {
  display: block;
}

/* 음악 플레이바 오른쪽 */

.footer_play_musicInformation {
    width: 630px; height: 60px;
    margin-right: 50px;
    display:flex;
    justify-content: flex-end;
}

.btn-box {
    display: flex;
    align-items: center;
    height: 40px;
}

.btn-box > .volume {
    margin-left: 60px;
}

.footer_play_musicInfo {
    display: flex;
    align-items: center;
}

/* 플레이바 오른쪽 곡 썸네일 */
.info_thumbnail {
    width: 170px; height: 60px;
    display: flex;
    justify-content: center;
}
.info_info_thumbnail_frame {
    width: 120px; height: 50px;
    margin-bottom: 10px;
    border: 1px solid red;
}


/* 플레이바 오른쪽 곡 정보 */
.info_box {
    width: 300px; height: 50px;
    border: 1px solid orange;
    display: flex; flex-direction: column;
    margin-bottom: 10px;
}
.info_uploadUser {
    height: 20px;
}

.info_musicTitle {
    height: 30px;
}

.info_uploadUser a,
.info_musicTitle a {
    color: #FFF;
}

/* 내 재생 목록 */
.show_myPlayList {
    color: #FFF;
    display: none;
    font-size: 24px;
    height: 340px;
    background-color: #111111;
    overflow-y: auto;
}

.show_myPlayList_list {
    border: 1px solid red;
    width: 1600px;
    margin-left: auto; margin-right: auto;
    padding: 10px;
    border: 1px solid #3D3D3D;
    background-color: #222222;
    height: 340px;
    list-style: none;
    overflow-y: auto;
}

.show_myPlayList_list li {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #444444;
    display: flex;
    align-items: center;
}

.show_myPlayList_list li:last-child {
    border-bottom: none;
}

.notLogin_m {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.notLogin_message {
    color: #3D3D3D;
    font-size: 80px;
    font-weight: 600;
}

.myPlayList_number {
    width: 100px;
    text-align: center;
}

.myPlayList_musicTitle {
        display: flex;
        align-items: center;
}

.myPlayList_musicTitle > .myPlayList-thumbImg {
     width: 50px;
 }

 .thumbImg > img {
     margin: 5px;
     height: 50px;
 }

.TOP100_musicTitle > .myPlayList-musicTi {
    width: 660px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.music_play {
    width: 100px;
    text-align: center;
}

.music_play i {
    color: #FFF;
}