
/* 노멀라이즈 */
body, ul, li, a, span {
    margin: 0; padding: 0;
    list-style: none;
    font: inherit;
    vertical-align: baseline;
}

a, input {
  color: inherit;
  text-decoration: none;
}

button, input {
    line-height: normal;
    outline: none;
}

button {
  border: 0;
  background-color: transparent;
}

input: focus {
    outline: none;
}

/* 커스텀 */
.mainPage_container {
    /* footer에 가려지지 않기 위함 */
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.mainPage_slide_container {
  width: 100%; /* 슬라이드 컨테이너의 너비를 1480px로 고정 */
  height: 350px; /* 슬라이드 컨테이너의 높이를 280px로 고정 */
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.banner_inner_section {
  display: flex;
  align-items: center;
  height: 100%;
}

.banner_inner_list {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.inner {
  width: 1800px; /* 슬라이드 페이지의 너비를 1480px로 고정 */
  height: 350px; /* 슬라이드 페이지의 높이를 280px로 고정 */
  box-sizing: border-box;
  text-align: center;
  background-color: #f2f2f2;
}

.inner > a {
    width: 100%;
    height: 100%;
}

.inner img {
    width: 100%;
    height: 100%;
}

.slide_button {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.left_btn, .right_btn {
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
  cursor: none;
}

.left_btn:hover, .right_btn:hover {
  background-color: rgba(0,0,0,0.8);
}

/* 메인 */
.mainPage_main_container {
    margin-top: 40px;
    margin-left: auto; margin-right: auto;
    width: 1480px;
    display: flex;
}

/* 블럭 */
.mainPage_block_container {
    width: 1200px;
    border-right: 1px solid rgba(0,0,0, 0.2)
}

/* 블럭 박스 1, 2 */
.block_track_box-1,
.block_track_box-2 {
    display: flex;
    flex-direction: column;
    height: 300px;
    box-sizing: border-box;
    margin-bottom: 10px;
    justify-content: space-between;
}

.block_title_link {
    width: 300px; height: 25px;
    margin-left: 33px;
    color: #111;
    font-size: 22px;
    font-weight: 600;
}

.block_track_section {
    display: flex;
    height: 250px;
}

.block_track {
    width: 235px; height: auto;
    margin-left: auto; margin-right: auto;
    background-color: rgba(221, 153, 221, 0.2);
}

.block_track > a {
    width: 235px; height: 100%;
    display: inline-block;
}

/* 사이드 */
.mainPage_side_container {
    flex-grow: 1;
    height: 560px;
}

.body_side_notice {
    width: 270px; height: 240px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.side_notice, .side_news {
    width: 150px; height: 30px;
    display: flex;
    align-items: center;
    color: #111;
    font-size: 22px;
    font-weight: 500;
    margin-left: 20px;
}

.notice_box {
    margin-left: 20px;
    width: 230px; height: 200px;
}

.notice_box > li {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 추가 내용 */
.p_container {
    min-height: 140px;
    padding: 0 20px;
    margin: 0 auto;
    width: 1008px;
    height: auto;
}

p span {
    color: #909090;
    display: inline-block;
    padding: 0 8px 0 8px;
}

p span.p_first {
    background: 0;
    padding-left: 0;
}

p {
    margin: 19px 0 54px;
    font-size: 11px;
    line-height: 20px;
    color: #909090;
    font-family: "돋움", Dotum, "맑은 고딕", "Malgun Gothic", "Apple Gothic", sans-serif;
    letter-spacing: -0.5px;
}