
/* 노멀라이즈 */
body, ul, li, a, span {
    margin: 0; padding: 0;
    list-style: none;
    font: inherit;
    vertical-align: baseline;
}

a, input {
  color: inherit;
  text-decoration: none;
}

button, input {
    line-height: normal;
    outline: none;
}

button {
  border: 0;
  background-color: transparent;
}

input: focus {
    outline: none;
}

/* 커스텀 */
.mainPage_container {
    /* footer에 가려지지 않기 위함 */
    height: calc(100vh - 50px);
    overflow: auto;
}

.mainPage_slide_container {
  width: 100%; /* 슬라이드 컨테이너의 너비를 1480px로 고정 */
  height: 350px; /* 슬라이드 컨테이너의 높이를 280px로 고정 */
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.banner_inner_section {
  display: flex;
  align-items: center;
  height: 100%;
}

.banner_inner_list {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.inner {
  flex: 1 0 100%; /* 슬라이드 페이지의 너비를 1480px로 고정 */
  height: 350px; /* 슬라이드 페이지의 높이를 280px로 고정 */
  box-sizing: border-box;
  text-align: center;
  background-color: #f2f2f2;
}

.inner > a {
    width: 100%;
    height: 100%;
}

.inner img {
    width: 100%;
    height: 100%;
}

.slide_button {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.left_btn, .right_btn {
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
}

.left_btn:hover, .right_btn:hover {
  background-color: rgba(0,0,0,0.8);
}

/* 메인 */
.mainPage_main_container {
    margin-top: 40px;
    margin-left: auto; margin-right: auto;
    width: 1480px;
    display: flex;
}

/* 블럭 */
.mainPage_block_container {
    width: 1200px;
    border-right: 1px solid rgba(0,0,0, 0.2)
}

/* 블럭 박스 1, 2 */
.block_track_box-1,
.block_track_box-2 {
    display: flex;
    flex-direction: column;
    height: 300px;
    box-sizing: border-box;
    margin-bottom: 10px;
    justify-content: space-between;
}

.block_title_link {
    width: 300px; height: 25px;
    margin-left: 33px;
    color: #111;
    font-size: 22px;
    font-weight: 600;
}

/* 최신음악, 추천음악 */
.block_track_section {
    display: flex;
    height: 250px;
}

.block_track {
    width: 235px; height: auto;
    margin-left: auto; margin-right: auto;
    background-color: rgba(221, 153, 221, 0.2);
}

.block_track_box-2 {
    margin-top: 20px;
}

.block_track_section > .block_track {
    border: 0.5px solid #c9c9c9;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.block_track_section > .block_track:hover > img {
    transform: scale(1.12);
}

.block_track_section > .block_track:hover > .background {
    opacity: 1; visibility: visible;
}

.block_track_section > .block_track > img {
    width: 100%; height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

/* 이미지 위에 검은바탕 처리 */
.block_track_section > .block_track > .background {
    background-color: rgba(38, 8, 64, 0.7);
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0; visibility: hidden;
    /* display: none; */
    transition: 0.3s;
    display: flex; justify-content: center; align-items: center;
}

.block_track_section > .block_track > .another-color {
    background-color: rgba(33, 84, 19, 0.7);
}

.block_track_section > .block_track > .background > .btn-box > a {
    cursor: pointer;
    display: block;
}

.block_track_section > .block_track > .background > .btn-box {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 10px; padding-right: 10px;
    padding-top: 4px; padding-bottom: 4px;
    color: #fff;
    text-align: center;
}

/* 사이드 */
.mainPage_side_container {
    flex-grow: 1;
    height: 560px;
}

/* 자주찾는 질문 */
.body_side_notice {
    width: 270px; height: 240px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.side_notice, .side_news {
    width: 230px; height: 30px;
    display: flex;
    align-items: center;
    color: #111;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}

.notice_box {
    margin-left: 20px;
    margin-top: 20px;
    width: 230px; height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notice_box > li {
    color: #111;
    font-size: 1.08rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice_box > li > a {
    cursor: pointer;
}

/* 방문자 TOP5 */
.body_side_studio {
    width: 270px; height: 240px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 75px;
}

.side_studio, .side_news {
    width: 230px; height: 30px;
    display: flex;
    align-items: center;
    color: #111;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}

.studio_box {
    margin-left: 20px;
    margin-top: 20px;
    width: 230px; height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.studio_box > li {
    color: #111;
    font-size: 1.08rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.studio_box > li > a {
    cursor: pointer;
}

/* 추가 내용 */
.p_container {
    min-height: 140px;
    padding: 0 20px;
    margin: 0 auto;
    width: 1008px;
    height: auto;
}

p span {
    color: #909090;
    display: inline-block;
    padding: 0 8px 0 8px;
}

p span.p_first {
    background: 0;
    padding-left: 0;
}

p {
    margin: 19px 0 54px;
    font-size: 11px;
    line-height: 20px;
    color: #909090;
    font-family: "돋움", Dotum, "맑은 고딕", "Malgun Gothic", "Apple Gothic", sans-serif;
    letter-spacing: -0.5px;
}