html > ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    overflow: hidden;
}

.total-box {
    height: 500px;
}

/* 상단 환영 인사 및 검색창 */
.top-section {
    display: flex;
}

/* 환영 인사 */
.top-section > .welcome-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    flex-grow: 2.5;
    flex-basis: 0;
}

.top-section > .welcome-box > span {
    font-weight: 700;
    font-size: 23px;
    padding-left: 25%;
}

.top-section > .welcome-box > a {
    display: block;
    border-radius: 5px;
    margin-left: 30px;
    background-color: #36454F;
    color: #fff;
    font-weight: 700;
    padding: 10px;
}

/* 돌아가기 버튼 */
.top-section > .myHome-btn {
    display: flex;
    align-items: center;
}

.top-section > .myHome-btn > a {
    display: block;
    border-radius: 5px;
    background-color: #36454F;
    color: #fff;
    font-weight: 700;
    padding: 10px;
}

/* 검색창 */
.top-section > .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    flex-grow: 1;
    flex-basis: 0;
    margin-left: -60px;
}

.search-input-box {
    position: relative;
}

.search-input-box > input {
    margin-top: auto; margin-bottom: auto;
    padding-left: 12px;
    font-size: 13px;
    font-weight: 400;
    color: #999999;
    border-width: 0;
    background-color: #D9D9D9;
    width: 300px; height: 35px;
    border-radius: 6px;
}

.search-input-box > button {
    width: 30px; height: 26px;
    position: absolute;
    background-color:transparent;
    top: 50%;
    transform: translateY(-50%);
    left: 88%;
    font-size: 18px;
}

.search-input-box > button > i {
    color: #000;
}

.search-input-box > button:hover {
    cursor: pointer;
}

/* 개인 스튜디오 전체 현황 */
.introduce-box {
    width: 100%;
    height: 280px;
    background-color: #36454F;
    display: flex;
}
/* 개인 프로필 사진 */
.introduce-box > .profile-box {
    width: 280px;
    padding-left: 18%;
}

.introduce-box > .profile-box > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.introduce-box > .text-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 630px;
    color: #fff;
    padding-left: 50px;
    box-sizing: border-box;
}

/* 각 박스별 공통 마진 */
.introduce-box > .text-box > .common-margin {
    margin-bottom: 15px;
}

/* 닉네임 부분 */
.introduce-box > .text-box > .nickname-box {
    margin-top: 10px;
}

/* 좋아요 부분 */
.introduce-box > .text-box > .like-box > .btn {
    cursor: pointer;
}

/* 스튜디오 음악 목록 */
.detail-box {
    display: flex;
    height: 100%;
    width: 100%;
}

/* 음악 리스트 박스 */
.detail-box > .myMusic-box {
    border-right: 1px solid #000;
    flex-grow: 2;
    flex-basis: 0;
}

/* 음악 리스트 박스 - 상단(타이틀, 버튼) */
.detail-box > .myMusic-box > .top-box {
    display: flex;
    height: 50px;
    padding-left: 180px;
    margin-top: 10px;
    box-sizing: border-box;
    justify-content: space-between;
}

.detail-box > .myMusic-box > .top-box > .title > span {
    font-size: 28px;
    font-weight: bold;
    line-height: 50px;
}

.detail-box > .myMusic-box > .top-box > .user-menu {
    padding-right: 50px;
}

.detail-box > .myMusic-box > .top-box > .user-menu > .btn {
    margin-right: 20px;
    line-height: 50px;
    font-weight: bold;
}

.detail-box > .myMusic-box > .top-box > .user-menu > button {
    line-height: 50px;
    font-weight: bold;
    margin-right: 15px;
    font-size: 15px;
    cursor: pointer;
}

/* 음악 리스트 박스 - 하단(목록) */
.detail-box > .myMusic-box > form > .music-list {
    padding-left: 180px;
    box-sizing: border-box;
    width: 100%;
}

.detail-box > .myMusic-box > form > .music-list-detail {
    padding-left: 180px;
    box-sizing: border-box;
    width: 100%;
    height: 35vh; /* Set a fixed height based on viewport height */
    overflow-y: auto;
}

.detail-box > .myMusic-box > form > ul > li {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    border-bottom: 1px solid #8d8d8d;
    align-items: center;
}

.detail-box > .myMusic-box > form > ul > .music-detail {
    height: 70px;
}

.detail-box > .myMusic-box > form > ul > .music-detail > .music-title {
    width: 60%;
}

.detail-box > .myMusic-box > form > ul > .music-detail:hover {
    background-color: #e6f5ff;
    cursor: pointer;
}

.detail-box > .myMusic-box > form > ul > li > .number {
    width: 7%;
    text-align: center;
}

.detail-box > .myMusic-box > form > ul > li > .music-title {
    width: 53%;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.detail-box > .myMusic-box > form > ul > li > .music-title > img {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 20px;
}

.detail-box > .myMusic-box > form > ul > li > .like {
    width: 15%;
}

.detail-box > .myMusic-box > form > ul > li > .like > a {
    margin-left: -10px;
}

.detail-box > .myMusic-box > form > ul > li > .create-date {
    width: 25%;
}

.detail-box > .myMusic-box > form > ul > li > .create-date-text {
    width: 25%;
    margin-right: 20px;
}

/* 코멘트 박스 */
.detail-box > .comment-box {
    flex-grow: 0.9;
    flex-basis: 0;
}

/* 코멘트 박스 - 상단(타이틀, 버튼) */
.detail-box > .comment-box > .top-box {
    display: flex;
    height: 50px;
    padding-left: 40px;
    margin-top: 10px;
    box-sizing: border-box;
    justify-content: space-between;
}

.detail-box > .comment-box > .top-box > .title > span {
    font-size: 28px;
    font-weight: bold;
    line-height: 50px;
}

.detail-box > .comment-box > .top-box > .user-menu {
    padding-right: 50px;
}

.detail-box > .comment-box > .top-box > .user-menu > a {
    line-height: 50px;
    font-weight: bold;
    margin-right: 15px;
}

.detail-box > .comment-box > .top-box > .user-menu > button {
    line-height: 50px;
    font-weight: bold;
    margin-right: 15px;
    font-size: 15px;
    cursor: pointer;
}

/* 코멘트 박스 - 하단(목록) */
.detail-box > .comment-box > form > .comment-list {
    padding-left: 20px;
    box-sizing: border-box;
    width: 100%;
}

.detail-box > .comment-box > form > .comment-list-detail {
    padding-left: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 35vh; /* Set a fixed height based on viewport height */
    overflow-y: auto;
}

.detail-box > .comment-box > form > ul > li {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    height: 30px;
    border-bottom: 1px solid #8d8d8d;
    align-items: center;
}

.detail-box > .comment-box > form > ul > .comment-detail:hover {
    background-color: #e6f5ff;
    cursor: pointer;
}

.detail-box > .comment-box > form > ul > .comment-detail {
    height: 30px;
}

.detail-box > .comment-box > form > ul > li > .number {
    width: 15%;
    text-align: center;
    display: block;
}

.detail-box > .comment-box > form > ul > li > .comment-title {
    width: 85%;
    margin-left: 30px;
    display: block;
}
