<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
</head>
<body>
<div>로그인</div>

<form id="loginForm" th:action="@{/member/login}" method="POST">
    <div>
        <span>유저 아이디</span>
        <input type="text" id="username" name="username" placeholder="아이디">
    </div>
    <div>
        <span>유저 비밀번호</span>
        <input type="password" id="password" name="password" placeholder="비밀번호">
    </div>
    <div>
        <input type="checkbox" id="rememberMe">
        <label for="rememberMe">아이디 기억하기</label>
    </div>
    <div>
        <button type="submit">로그인</button>
    </div>
    <div>
        <a href="/oauth2/authorization/kakao">카카오 로그인</a>
        <a href="/oauth2/authorization/naver">네이버 로그인</a>
        <a href="/oauth2/authorization/google">구글 로그인</a>
    </div>
</form>

<script>
    // 페이지가 로드될 때 저장된 아이디를 입력란에 자동으로 채워넣는 함수
    window.onload = function() {
        var savedUsername = localStorage.getItem('username');
        if (savedUsername) {
            document.getElementById('username').value = savedUsername;
        }
    };

    // 폼을 제출할 때 아이디를 저장하는 함수
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        var username = document.getElementById('username').value;
        var rememberMe = document.getElementById('rememberMe').checked;

        if (rememberMe) {
            localStorage.setItem('username', username);
        } else {
            localStorage.removeItem('username');
        }
    });
</script>
</body>
</html>