<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/member/login.css}">
</head>
<body>
    <a href="/">
        <img src="/images/ApollonLogo_dark.png" alt="Your Logo" class="logo">
    </a>
    <div class="container">
        <form id="loginForm" th:action="@{/member/login}" method="POST">
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="🧑‍🦲 아이디">
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="🔒 비밀번호">
            </div>
            <div class="form-group">
                <a href="/sendmail/password">비밀번호 찾기</a>
                <a href="/member/signup">회원가입</a>
            </div>
            <div class="form-group">
                <button type="submit">로그인</button>
            </div>
        </form>

        <div class="social-login">
            <a href="/oauth2/authorization/kakao">
                <div class="logo"><img src="/images/login/kakaologo2.png" alt="카카오"></div>
                <div class="name">카카오로 시작하기</div>
            </a>
            <a href="/oauth2/authorization/naver">
                <div class="logo"><img src="/images/login/naverlogo2.png" alt="네이버"></div>
                <div class="name">네이버로 시작하기</div>
            </a>
            <a href="/oauth2/authorization/google">
                <div class="logo"><img src="/images/login/googlelogo2.png" alt="구글"></div>
                <div class="name">구글로 시작하기</div>
            </a>
        </div>
    </div>
</body>
</html>
