<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/member/login.css}">
</head>
<body>
<a href="/">
    <img src="/images/ApollonLogo.png" alt="Your Logo" class="logo">
</a>
<div class="container">
    <form id="loginForm" th:action="@{/member/login}" method="POST">
        <div class="form-group">
            <input type="text" id="username" name="username" placeholder="아이디를 입력해주세요">
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요">
        </div>
        <div class="form-group">
            <input type="checkbox" id="rememberMe">
            <label for="rememberMe">아이디 기억하기</label>
            <a href="/sendmail/password">비밀번호 찾기/</a>
            <a href="/member/signup">회원가입</a>
        </div>
        <div class="form-group">
            <button type="submit">로그인</button>
        </div>
    </form>

    <div class="links">
        <a href="/oauth2/authorization/kakao" class="button--kakao">
            <img src="/images/login/kakaologin.png" alt="카카오 로그인">
        </a>
        <a href="/oauth2/authorization/naver" class="button--naver">
            <img src="/images/login/naverlogin.png" alt="네이버 로그인">
        </a>
        <a href="/oauth2/authorization/google" class="button--google">
            <img src="/images/login/googlelogo.png" alt="구글 로그인">
        </a>
    </div>
</div>
</body>
</html>
