<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <style>
        .error {
            color: red;
        }
    </style>
    <script>
        function validateForm() {
            const signupError = document.getElementById("signupError");
            const submitButton = document.getElementById("submitButton");

            if (signupError.innerText !== "") {
                submitButton.disabled = true;
            } else {
                submitButton.disabled = false;
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            validateForm();
        });
    </script>
</head>
<body>
<div>회원가입</div>
<form th:action="@{/member/signup}" method="POST" th:onchange="validateForm()">
    <div>
        <span>유저 아이디</span>
        <input type="text" name="username" placeholder="아이디">
    </div>
    <div>
        <span>유저 비밀번호</span>
        <input type="password" name="password" placeholder="비밀번호">
    </div>
    <div>
        <span>유저 비밀번호 확인</span>
        <input type="password" name="password_confirm" placeholder="비밀번호 확인">
    </div>
    <div>
        <span>닉네임</span>
        <input type="text" name="nickname" placeholder="닉네임">
    </div>
    <div>
        <span>이메일</span>
        <input type="email" name="email" placeholder="이메일">
    </div>
    <div>
        <div id="signupError" th:text="${signupError}" class="error"></div>
    </div>
    <div>
        <button type="submit" id="submitButton">회원가입</button>
    </div>
</form>
</body>
</html>