<html layout:decorate="~{layout}">
  <div layout:fragment="content">
    <div class="TOP100_container">
      <div class="TOP100_cont_sec">
        <div class="chartList_nav">
          <div class="chartList_nav_sec">
            <div class="chartList_nav_TOP100"><a href="/chart/TOP100">TOP100</a></div>
            <div class="chartList_nav_genreChart"><a href="/chart/genreChart">장르별 차트</a></div>
          </div>
        </div>
        <div class="body_chart_container">
          <span>TOP 100</span>
          <div class="TOP100_body">
            <div class="TOP100_nav">
              <ul>
                <li>
                  <div class="TOP100_form-check">
                    <input class="TOP100_form-check-input" type="checkbox" value="" id="TOP100_flexCheckAll">
                    <label class="TOP100_form-check-label" for="TOP100_flexCheckAll"></label>
                  </div>
                </li>
                <li><span class="TOP100_Rank">순위</span></li>
                <li><span class="Rank_fluctuationRate"></span></li>
                <li><span class="music_thumbnail"></span></li>
                <li><span class="music_title">곡 제목</span></li>
                <li><span class="music_studio">스튜디오</span></li>
                <li><span class="musicLike">좋아요</span></li>
                <li><span class="music_import_myPlayList">담기</span></li>
                <li><span class="music_play">듣기</span></li>
              </ul>
            </div>
            <div class="TOP100_list">
              <ul th:each="music, iterStat : ${musicList}">
                <!-- 타임리프를 사용하여 musicList라는 변수에 저장된 음악 데이터를 반복하여 출력 -->
                <li class="TOP100_list-num">
                  <div class="TOP100_form-check">
                    <input class="TOP100_form-check-input" type="checkbox" th:value="${music.id}" th:id="'flexCheckDefault' + ${iterStat.index}">
                    <label class="TOP100_form-check-label" th:for="'flexCheckDefault' + ${iterStat.index}"></label>
                  </div>
                  <span class="TOP100_number" th:text="${iterStat.index + 1}"></span>
                  <div class="TOP100_musicTitle">
                    <div class="thumbImg">
                      <img th:src="@{/uploadImgs/{filename}(filename=${music.thumbnailImg})}" alt="사진X"></div>
                    <div class="classnull"></div>
                    <a class="musicTi" th:href="@{/chart/TOP100/{id}(id=${music.id})}">
                      <span th:text="${music.musicTitle}"></span>
                    </a>
                    <a class="upstu" th:href="@{/chart/TOP100/{id}(id=${music.id})}">
                      <span th:text="${music.uploadStudio}"></span>
                    </a>
                  </div>
                  <div class="music_like">
                    <span><i class="fa-regular fa-heart"></i></span>
                    <span th:text="${music.likeCount != null ? music.likeCount : 0}">22</span>
                  </div>
                  <div class="music_imp">
                    <span><i class="fa-solid fa-plus"></i></span>
                  </div>
                  <div class="music_p">
                    <span><i class="fa-solid fa-play"></i></span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</html>