<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">

    <div class="header postHeader">
        <div class="post-logo">
            <a href="/">
                <img src="/images/ApollonLogo_dark.png" alt="Your Logo" class="logo">
            </a>
        </div>
    </div>

    <div class="middle">
        <div class="container">
            <div class="profile-card box">
                <div class="profile-header">
                    <div class="profile-id-box">
                        <img src="/images/none.png" alt="Your Logo" class="logo">
                        <span class="profile-id">testID</span>
                    </div>
                </div>
                <hr>
                <div class="profile-stats">
                    <div class="stat">
                        <span>게시물</span>
                        <span>0</span>
                    </div>
                    <div class="stat">
                        <span>댓글</span>
                        <span>0</span>
                    </div>
                </div>
                <div class="profile-footer">
                    <a class="text" th:href="@{/post/profile}">+프로필</a>
                </div>
            </div>




            </div>
        </div>
        <div class="container">

        </div>
        <div class="container">

        </div>
    </div>











</div>
</html>