<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="postMainContainer">
    <div class="header postHeader">
        <div class="post-logo">
            <a href="/">
                <img src="/images/ApollonLogo_dark.png" alt="Your Logo" class="logo">
            </a>
        </div>
    </div>
    <div class="middle">
        <div class="container">
            <div class="profile-card box" th:if="${#authorization.expression('isAuthenticated()')}">
                <!-- Profile card content for authenticated users -->
                <div class="profile-header">
                    <div class="profile-id-box">
                        <img src="/images/none.png" alt="Your Logo" class="logo">
                        <span class="profile-id" th:text="${member.username}">Username</span>
                    </div>
                </div>
                <hr>
                <div class="profile-stats">
                    <div class="stat">
                        <span>게시물</span>
                        <span th:text="${myPosts.size()}">0</span>
                    </div>
                    <div class="stat">
                        <span>댓글</span>
                        <span th:text="${myComments.size()}">0</span>
                    </div>
                </div>
                <div class="profile-footer">
                    <a th:href="@{/post/profile}">+프로필</a>
                </div>
            </div>
            <div class="profile-card box" th:unless="${#authorization.expression('isAuthenticated()')}">
                <!-- Profile card content for non-authenticated users -->
                <div class="profile-header">
                    <div class="profile-id-box">
                    </div>
                </div>

                <div style="display:block;" class="profile-stats">
                    <div style="margin-left:5px; margin-top:15px; border: 1px solid black; padding:20px; border-radius: 8px;"    class="profile-footer">
                        <a th:href="@{/member/login}">로그인하기</a> <!-- Link to login page for non-authenticated users -->
                    </div>
                </div>

            </div>
            <div class="post-category box">
                <hr>
                <div class="board-title">====== 게시판 ======</div>
                <ul class="board-list">
                    <li class="board-item">
                        <span class="icon">📋</span>
                        <a class="text" th:href="@{/post/list}">전체 게시판</a>
                    </li>
                    <li class="board-item">
                        <span class="icon">❗</span>
                        <a class="text" th:href="@{/post/list?boardType=공지}">공지 게시판</a>
                    </li>
                    <li class="board-item">
                        <span class="icon">✂️</span>
                        <a class="text" th:href="@{/post/list?boardType=자유}">자유 게시판</a>
                    </li>
                    <li class="board-item">
                        <span class="icon">👤️</span>
                        <a class="text" th:href="@{/post/list?boardType=친목}">친목 게시판</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="board-type box detailHeader">
                <div class="Board-type-1">
                    <span class="detailPostBoardType" th:text="${post.boardType}"></span>
                </div>
                <div class="detailHeaderProfile">
                    <img src="/images/none.png" alt="Your Logo" class="logo">
                    <span class="profile-id" th:text="${post.author.nickname}"></span>
                </div>

                <div class="detailHeaderButtonBox">
                    <div class="modifyPostButton" th:if="${#authorization.expression('isAuthenticated()') and #authentication.principal.username == post.author.username}">
                        <a th:href="@{/post/modify/{id}(id=${post.id})}" class="btn btn-sm btn-outline-secondary" th:text="수정"></a>
                    </div>
                </div>

                <div class="detailHeaderButtonBox">
                    <div class="deletePostButton" th:if="${#authorization.expression('isAuthenticated()') and (#authentication.principal.username == post.author.username or #authentication.principal.username == 'admin')}">
                        <a href="javascript:void(0);" th:data-uri="@{|/post/delete/${post.id}|}" class="delete btn btn-sm btn-outline-secondary" th:text="삭제"></a>
                    </div>
                </div>


            </div>
            <div class="postDetail-box box detailBox">
                <!-- Edit and delete buttons fixed at the top -->


                <div class="postDetail-body">
                    <div class="postDetailBodyTitle">
                        <h1 th:text="${post.title}"></h1>
                    </div>
                    <div class="postDetailBodyContent">
                        <span th:text="${post.content}"></span>
                    </div>

                </div>

                <div class="postDetail-footer">
                    <div style="display: flex; justify-content: center; align-items: center; margin-left:10px; color:#666">
                        <span class="eye-icon">◎</span>
                        <span style="margin-left:5px;" th:text="${post.view}"></span>
                    </div>
                    <div class="detailPostButton-box">
                        <div>
                            <button type="submit" class="previousPostButton"
                                    th:if="${previousPostId != null}"
                                    th:onclick="|location.href='/post/detail/' + ${previousPostId}|">이전 글</button>
                        </div>
                        <div>
                            <button type="submit" class="postListButton" onclick="location.href='/post/list'">목록</button>
                        </div>
                        <div>
                            <button type="submit" class="nextPostButton"
                                    th:if="${nextPostId != null}"
                                    th:onclick="|location.href='/post/detail/' + ${nextPostId}|">다음 글</button>
                        </div>
                    </div>

                </div>
            </div>

            <div th:if="${post.boardType.name() != '공지'}">
                <div class="postReply-section box" th:if="${#authorization.expression('isAuthenticated()')}">
                    <div class="postReply-header">
                        <h3>댓글 <span th:text="${#lists.size(comments)}"></span></h3>
                    </div>
                    <hr>
                    <div class="postReply-input">
                        <form th:action="@{/post/detail/{id}/comment(id=${post.id})}" method="post">
                            <input type="text" name="content" placeholder="댓글을 입력해주세요." required>
                            <button type="submit" class="submit-button">등록</button>
                        </form>
                    </div>
                    <div class="postReply-list">
                        <ul>
                            <li th:each="comment : ${comments}">
                                <strong th:text="${comment.author.username}"></strong>
                                <span th:text="${comment.createDate}"></span>
                                <p th:text="${comment.content}"></p>
                                <th:block th:if="${(#authentication.principal.username == comment.author.username) or #authentication.principal.username == 'admin'}">
                                    <form th:action="@{/post/detail/{postId}/comment/delete/{commentId}(postId=${post.id}, commentId=${comment.id})}" method="post">
                                        <button type="button" class="delete-comment-button" onclick="confirmDelete(this)">삭제</button>
                                    </form>
                                </th:block>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="postReply-section box" th:unless="${#authorization.expression('isAuthenticated()')}">
                        <span style="color:#666; margin-left:300px;">로그인후 댓글을 이용해주세요.</span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="box">
                <div id="clock" class="clock1"></div>
            </div>
            <div class="todayHotPost-box box">
                <div class="todayHotPost-header">
                    <span>오늘의 TOP10</span>
                </div>
                <div class="todayHotPost-body">
                    <div class="todayHotPost-item" th:each="post, iterStat : ${topPosts}">
                        <span th:text="${iterStat.count}"></span>
                        <a class="todayHotPost-title" th:text="${post.title}" th:href="@{|/post/detail/${post.id}|}"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</div>
</html>

<script>
    function updateClock() {
        const now = new Date();
        const hours = String(now.getHours()).padStart(2, "0");
        const minutes = String(now.getMinutes()).padStart(2, "0");
        const seconds = String(now.getSeconds()).padStart(2, "0");
        const timeString = `${hours}:${minutes}:${seconds}`;
        document.getElementById("clock").textContent = timeString;
    }

    setInterval(updateClock, 1000);
    updateClock(); // initial call to display the clock immediately



</script>

<script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
    function confirmDelete(button) {
        if (confirm("정말로 삭제하시겠습니까?")) {
            button.parentNode.submit(); // Submit the form if user confirms
        }
    }
</script>