<html layout:decorate="~{layout}">
<div layout:fragment="content">



    <div class="header">
        <h1>자유게시판</h1>
    </div>
    <div class="middle">
        <div class="container">
            <div class="profile-card box">
                <div class="profile-header">
                    <div class="profile-id-box">
                        <img src="profile-icon.png" alt="a">
                        <span class="profile-id">testID</span>
                    </div>
                </div>
                <hr>
                <div class="profile-stats">
                    <div class="stat">
                        <span>게시물</span>
                        <span>0</span>
                    </div>
                    <div class="stat">
                        <span>댓글</span>
                        <span>0</span>
                    </div>
                </div>
                <div class="profile-footer">
                    +프로필
                </div>
            </div>
            <div class="post-category box">
                <hr>
                <div class="board-title">===== 게시판 =====</div>
                <ul class="board-list">
                    <li class="board-item">
                        <span class="icon">📋</span>
                        <span class="text">전체 게시판</span>
                    </li>
                    <li class="board-item">
                        <span class="icon">❗</span>
                        <span class="text">공지 게시판</span>
                    </li>
                    <li class="board-item">
                        <span class="icon">✂️</span>
                        <span class="text">자유 게시판</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="notice-box box">
                <div class="notice-header">
                    <span>공지사항</span>
                </div>
                <div class="notice-body">
                    <div class="notice-item">
                        <span>공지</span>
                    </div>
                    <div class="notice-item">
                        <span>공지</span>
                    </div>
                    <div class="notice-item">
                        <span>공지</span>
                    </div>
                    <div class="notice-item">
                        <span>공지</span>
                    </div>
                </div>
            </div>
            <div class="category-box box">
                <span>종류</span>
                <span>제목</span>
                <span>작성자</span>
                <span>작성일</span>
                <span>조회</span>
            </div>
            <div class="postList-box box">

                <div class="notice-body">
                    <div class="notice-item">
                        <span>자유</span>
                    </div>
                    <div class="notice-item">
                        <span>자유</span>
                    </div>
                    <div class="notice-item">
                        <span>자유</span>
                    </div>

                    <div class="notice-item">
                        <span>자유</span>
                    </div>
                    <div class="notice-item">
                        <span>자유</span>
                    </div>
                    <div class="notice-item">
                        <span>자유</span>
                    </div>


                </div>
            </div>
        </div>

        <div class="container">
            <div class="box">시계</div>
            <div class="box">오늘의핫게시글</div>
        </div>
    </div>


</div>
</html>