<html layout:decorate="~{layout}">
<div layout:fragment="content">



    <div class="header">
        <h1>자유게시판</h1>
    </div>

    <div class="middle">
        <div class="column">
            <div class="section">프로필</div>
            <div class="section">보드종류</div>
        </div>
        <div class="column">
            <div class="section">공지사항</div>
            <div class="section">오늘의핫게시글</div>
            <div class="section">오늘의핫게시글</div>
        </div>
        <div class="column">
            <div class="section">시계</div>
            <div class="section">오늘의핫게시글</div>
        </div>
    </div>


</div>
</html>