<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="postMainContainer">

    <div class="header postHeader">
        <div class="post-logo">
            <a href="/">
                <img src="/images/ApollonLogo_dark.png" alt="Your Logo" class="logo">
            </a>
        </div>
    </div>

    <div class="middle">
        <div class="container">
            <div class="profile-card box">
                <div class="profile-header">
                    <div class="profile-id-box">
                        <img src="/images/none.png" alt="Your Logo" class="logo">
                        <span class="profile-id" th:text="${member.username}">Username</span>
                    </div>
                </div>
                <hr>
                <div class="profile-stats">
                    <div class="stat">
                        <span>게시물</span>
                        <span th:text="${myPosts.size()}">0</span>
                    </div>
                    <div class="stat">
                        <span>댓글</span>
                        <span th:text="${myComments.size()}">0</span>
                    </div>
                </div>
                <div class="profile-footer">
                    <a class="text" th:href="@{/post/profile}">+프로필</a>
                </div>
            </div>


        </div>
        <div class="container">
            <div class="profile-content">
                <button onclick="showPosts()">게시글</button>
                <button onclick="showComments()">댓글</button>

                <div id="posts">

                    <ul>
                        <li th:each="myPosts : ${myPosts}">
                            <a th:href="@{'/post/detail/' + ${myPosts.id}}" th:text="${myPosts.boardType}">Post Title</a>
                            <a th:href="@{'/post/detail/' + ${myPosts.id}}" th:text="${myPosts.title}">Post Title</a>
                            <a th:href="@{'/post/detail/' + ${myPosts.id}}" th:text="${member.username}">Post Title</a>
                            <a th:href="@{'/post/detail/' + ${myPosts.id}}" th:text="${myPosts.createDate}">Post Title</a>
                            <a th:href="@{'/post/detail/' + ${myPosts.id}}" th:text="${myPosts.view}">Post Title</a>

                        </li>
                    </ul>
                </div>

                <div id="comments" style="display: none;">

                    <ul>
                        <li th:each="myComments : ${myComments}">
                            <span th:text="${myComments.content}">myComments Content</span>
                            <a th:href="@{'/post/detail/' + ${myComments.post.id}}">View Post</a>
                            <a th:href="@{'/post/detail/' + ${myComments.post.id}}" th:text="${myComments.post.title}"></a>
                            <a th:href="@{'/post/detail/' + ${myComments.post.id}}" th:text="${myComments.post.createDate}"></a>


                        </li>
                    </ul>
                </div>
            </div>
        </div>

        </div>
        <div class="container">

        </div>
    </div>

    </div>

</html>
<script th:inline="javascript">
    function showPosts() {
        document.getElementById('posts').style.display = 'block';
        document.getElementById('comments').style.display = 'none';
    }

    function showComments() {
        document.getElementById('posts').style.display = 'none';
        document.getElementById('comments').style.display = 'block';
    }
</script>