<html layout:decorate="~{layout}">
  <div layout:fragment="content">
    <div class="upload_sec">
      <div class="welcome-box">
        <span th:text="'음악 정보 수정을 진행중입니다... 🎼'"></span>
      </div>
      <div class="upload_form_container">
        <form th:action th:object="${uploadForm}" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
          <div class="musicTitle_sec">
            <span>음악 제목</span>
            <input id="title" type="text" name="title" required disabled th:placeholder="${music.musicTitle}">
          </div>

          <div class="musicContent_sec">
            <div class="title">
              <span class="bold">음악 설명</span>
              <span class="detail-title">(※ 업로드할 음악에 대한 설명 작성)</span>
            </div>
            <textarea id="content" name="content" rows="10" required></textarea>
          </div>

          <div class="musicThumbnail_sec">
            <span>썸네일 이미지</span>
            <input type="file" id="thumbnail" name="thumbnail" accept="image/png" required>
          </div>

          <div class="musicFile_sec">
            <span>음악 업로드</span>
            <input type="file" id="musicFile" name="musicFile" accept="audio/mp3" required disabled th:placeholder="${music.musicMp3FullPath}">
          </div>

          <div class="musicGenre_sec">
            <div class="title">
              <span>음악 장르 선택</span>
              <span class="detail-title">(※ 복수 선택 가능 / '그 외' 항목은 필수 선택)</span>
            </div>
            <div id="genresId">
              <label><input type="checkbox" name="genres" value="Ballad"> 발라드</label>
              <label><input type="checkbox" name="genres" value="Dance"> 댄스</label>
              <label><input type="checkbox" name="genres" value="Rap/HipHop"> 랩/힙합</label>
              <label><input type="checkbox" name="genres" value="R&B/Soul"> R&B/Soul</label>
              <label><input type="checkbox" name="genres" value="Rock/Metal"> 록/메탈</label>
              <label><input type="checkbox" name="genres" value="Electronica"> 일렉트로니카</label>
              <label><input type="checkbox" name="genres" value="OST"> OST</label>
              <label><input type="checkbox" name="genres" value="JPOP"> JPOP</label>
              <label><input type="checkbox" name="genres" value="indie"> 인디음악</label>
              <label><input type="checkbox" name="genres" value="etc" required> 그 외</label>
            </div>
          </div>
          <div class="btn-box">
            <button type="button" onclick="if(confirm('음악 정보 수정을 취소하시겠습니까?')) { history.back(); }">취소</button>
            <button type="submit">수정</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<script>
  function validateForm() {
    var thumbnail = document.getElementById("thumbnail").value;
    var musicFile = document.getElementById("musicFile").value;
    
    if (thumbnail.trim() == '') {
      alert("썸네일 이미지를 선택하세요.");
      document.getElementById("thumbnail").focus();
      return false;
    } else if (musicFile.trim() == '') {
      alert("음악 파일을 선택하세요.");
      document.getElementById("musicFile").focus();
      return false;
    }
    
    return true;
  }
</script>

</html>