<html layout:decorate="~{layout}">
<div layout:fragment="content">
  
  <div class="musicDetail_form">
    <div class="musicDetail_form_container">
      <div class="addPlaylist">
        <i class="fa-solid fa-folder-plus"></i>
      </div>
    </div>
  </div>
</div>

<script>
  // 'fa-folder-plus' 아이콘이 클릭되면 해당 곡을 재생목록에 추가
    $(document).ready(function(){
    $('#addSongButton').click(function(){
      // 서버에서 memberId를 가져오는 AJAX 요청
      $.ajax({
        type: 'GET',
        url: '/getMemberId', // memberId를 가져오는 엔드포인트로의 요청
        success: function(memberId){
          // memberId를 성공적으로 받아오면 다음 단계 실행
          // 서버에서 musicId를 가져오는 AJAX 요청
          $.ajax({
            type: 'GET',
            url: '/getMusicId', // musicId를 가져오는 엔드포인트로의 요청
            success: function(musicId){
              // musicId를 성공적으로 받아오면 다음 단계 실행
              // POST 요청을 보냅니다.
              $.ajax({
                type: 'POST',
                url: '/addSong',
                data: { memberId: memberId, musicId: musicId },
                success: function(data){
                  console.log('음악을 플레이리스트에 추가했습니다.');
                },
                error: function(xhr, status, error){
                  console.error('요청이 실패했습니다:', error);
                }
              });
            },
            error: function(xhr, status, error){
              console.error('musicId를 가져오는데 실패했습니다:', error);
            }
          });
        },
        error: function(xhr, status, error){
          console.error('memberId를 가져오는데 실패했습니다:', error);
        }
      });
    });
  });
</script>
</html>