<html layout:decorate="~{layout}">
<div layout:fragment="content">

  <div>음악 업로드</div>
  
  <form th:action th:object="${uploadForm}" method="post" enctype="multipart/form-data">
    <h3>음악 제목</h3>
    <input type="text" name="title">
    
    <h3>음악 설명</h3>
    <textarea name="content"></textarea>
    
    <h3>썸네일 이미지</h3>
    <input type="file" name="thumbnail" accept="image/png, image/gif, image/jpg">
  
    <h3>음악 업로드</h3>
    <input type="file" name="musicFile" accept="audio/mpeg, audio/mp4, audio/mp3, audio/wav">
    
    <button type="submit">업로드</button>
  </form>

</div>
</html>