<nav th:fragment="footerFragment" class="footer">
  <div class="footer_container">
    <div class="footer_play_box">
      <div class="music_myPlayList_box">
        <div class="myPlayList-btn_icon">
          <i class="fa-solid fa-angle-up fa-2x" onclick="togglePlaylist()"></i>
          <i class="fa-solid fa-angle-down fa-2x" onclick="togglePlaylist()"></i>
        </div>
      </div>
      <div class="footer_play_detail">
        <!-- 플레이바 왼쪽 박스 -->
        <div class="footer_play_playBar">
          <!-- 이전 곡, 재생, 이후 곡, 셔플, 반복 -->
          <div class="playSetting">
            <!-- 이전 곡 아이콘 -->
            <div class="growSet BeforeMusic_icon">
              <i class="fa-solid fa-backward-step fa-lg"></i>
            </div>
            <!-- 재생 아이콘 -->
            <div class="growSet playMusic_icon">
              <i class="fa-solid fa-play fa-lg"></i>
              <i class="fa-solid fa-pause fa-lg"></i>
            </div>
            <!-- 이후 곡 아이콘 -->
            <div class="growSet afterMusic_icon">
              <i class="fa-solid fa-forward-step fa-lg"></i>
            </div>
            <!-- 셔플 아이콘 -->
            <div class="growSet shuffleMusic_icon">
              <i class="fa-solid fa-shuffle fa-lg"></i>
            </div>
            <!-- 반복 아이콘 -->
            <div class="growSet loopMusic_icon">
              <i class="fa-solid fa-repeat fa-lg"></i>
            </div>
          </div>
        </div>
        <!-- 플레이바 중간 박스 -->
        <div class="footer_play_musicMiddle">
          <div class="musicMiddle_column">
            <!-- 곡 타임라인 -->
            <div class="music_timeLine">
              <div class="timeLine_bar"></div>
            </div>
          </div>
          <!-- 볼륨 -->
          <div class="volume">
            <div class="vol_icon">
              <i class="fa-solid fa-volume-low fa-lg"></i>
            </div>
          </div>
        </div>
        <!-- 플레이바 오른쪽 박스 -->
        <div class="footer_play_musicInformation">
          <div class="footer_play_musicInfo">
            <!-- 곡 정보 썸네일 이미지 -->
            <div class="info_thumbnail">
              <div class="info_info_thumbnail_frame">
<!--                <img th:src="@{|/file/${music.thumnailImg}|}" alt="">-->
              </div>
            </div>
            <!-- 곡 정보 제목, 올린 사람 -->
            <div class="info_box">
              <div class="info_uploadUser">
                <a href="#" th:each="music : ${playlist}" th:text="${music.user}">업로드한 사람</a>
              </div>
              <div class="info_musicTitle">
                <a href="#" th:each="music : ${playlist}" th:text="${music.title}">업로드된 곡 제목</a>
              </div>
            </div>
            <!-- 재생목록 추가/삭제, 스튜디오, 좋아요 아이콘 -->
            <div class="info_icon">
              <div class="growSet info_library_icon">
                <i class="fa-solid fa-plus fa-lg"></i>
              </div>
              <div class="growSet info_studio_icon">
                <i class="fa-solid fa-user fa-lg"></i>
              </div>
              <div class="growSet info_hit_icon">
                <i class="fa-solid fa-heart fa-lg"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 내 플레이 리스트 보기 -->
    <div class="absolute show_myPlayList" id="myPlayList">
      <li>음악</li>
    </div>
    <!-- 내 플레이 리스트 보기 끝 -->
  </div>
  
<!-- 재생목록 표출시 자바스크립트가 작성되어 있지 않은 상태에선 동작 안함 -->
  <script>
    function togglePlaylist() {
      var footerContainer = document.querySelector('.footer_container');
      var upIcon = document.querySelector('.fa-angle-up');
      var downIcon = document.querySelector('.fa-angle-down');
  
      if (footerContainer.classList.contains('open')) {
        upIcon.style.display = 'block';
        downIcon.style.display = 'none';
      } else {
        upIcon.style.display = 'none';
        downIcon.style.display = 'block';
      }
  
      footerContainer.classList.toggle('open');
    }
  </script>
  <!-- 재생목록 표출시 자바스크립트가 작성되어 있지 않은 상태에선 동작 안함 -->
</nav>
