<nav th:fragment="headerFragment" class="header">
    <div class="header_container">
      <div class="header_wrap">
        <!-- header 왼쪽 -->
        <div class="header_left_box">
          <!-- header logo box -->
          <a href="/" class="logo_box text">
            <img th:src="@{/images/ApollonLogo.png}" alt="" class="main_logo logo-size">
          </a>
          <a href="/" class="logo_box text"></a>
          <!-- header nav바 -->
          <nav class="header_nav">
            <ul>
              <li class="H_nav text H_nav-1">
                <a href="/chart/list">차트 목록</a>
              </li>
              <li class="H_nav text H_nav-2">
                <a href="#">커뮤니티</a>
              </li>
              <li class="H_nav text H_nav-3">
                <a href="/studio/">스튜디오</a>
              </li>
            </ul>
          </nav>
        </div>
        
        <!-- header 오른쪽 -->
        <div class="header_right_box">
          <!-- 검색창 -->
          <div class="header_search_box">
            <form>
              <div class="header_search_input-group">
                <input type="text" name="kw" class="header_form-control" placeholder="검색어" th:value="${param.kw}">
                <button class="btn_icon" type="button">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>
            </form>
          </div>
          
          <!-- 로그인/회원가입, 로그아웃/마이페이지 -->
          <div class="header_profile_box">
            <!-- 해시 태그 -->
            <div class="header_widget_hashTag text">
              <ul class="widget_hashTag_bannerList">
                <!-- 나중에 th:each부분을 회원의 개수만큼으로 수정하여 작성할 것 -->
                <li th:each="member, iterStat : ${members}" class="widget_hashTag_banner text">
                  <!-- th:href는 #hashTag의 경로로 이동되도록 구현할 것 -->
                  <!-- th:text는 member에서 hashTag의 정보를 불러옴 -->
                  <a th:href="@{'#' + member.hashTag}">
                    <span th:text="'#' + ${member.hashTag}"></span>
                  </a>
                </li>
              </ul>
            </div>
            
            <!-- 회원 -->
            <div class="header_member">
              <div class="header_isAnonymous text">
                <a sec:authorize="isAnonymous()" href="/member/login" class="header_login">로그인</a>
                <a sec:authorize="isAnonymous()" href="/member/signup" class="header_signup">회원가입</a>
              </div>
              <div class="header_isAuthenticated text">
                <a sec:authorize="isAuthenticated()" href="/member/logout">로그아웃</a>
                <a sec:authorize="isAuthenticated()" href="/member/mypage">마이페이지</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</nav>

