<nav th:fragment="headerFragment" class="header">
  <div class="header_container">
    <div class="header_wrap">
      <!-- header 왼쪽 -->
      <div class="header_left_box">
        <!-- header logo box -->
        <a href="/" class="logo_box text">
          <img th:src="@{/images/ApollonLogo.png}" alt="" class="main_logo logo-size">
        </a>
        <a href="/" class="logo_box text"></a>
        <!-- header nav바 -->
        <nav class="header_nav">
          <ul>
            <li class="H_nav text H_nav-1">
              <a href="/chart/TOP100">차트 목록</a>
            </li>
            <li class="H_nav text H_nav-2">
              <a href="/post/list">커뮤니티</a>
            </li>
            <li class="H_nav text H_nav-3">
              <a th:if="${#authorization.expression('isAuthenticated()') and studioActive == 0}"
                 href="/"
                 onclick="return confirm('회원님의 스튜디오는 차단 상태입니다.\n활성화를 원하신다면 커뮤니티를 통해 문의 부탁드립니다.');">스튜디오</a>

              <a th:if="${#authorization.expression('isAuthenticated()') and studioActive != 0}"
                 th:href="@{'/studio/' + ${#authentication.principal.username}}">스튜디오</a>

              <a th:if="${#authorization.expression('isAnonymous()')}"
                 onclick="return confirm('로그인이 필요한 서비스입니다.');"
                 th:href="@{/member/login}">스튜디오</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- header 오른쪽 -->
      <div class="header_right_box">
        <!-- 검색창 -->
        <div class="header_search_box">
          <form>
            <div class="header_search_input-group">
              <input type="text" name="kw" class="header_form-control" placeholder="검색어" th:value="${kw}">
              <button class="btn_icon" type="button">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </form>

        </div>

        <!-- 로그인/회원가입, 로그아웃/마이페이지 -->
        <div class="header_profile_box">
          <!-- 로그인 회원 닉네임 표출 -->
          <div class="header_userName">
            <!-- ${studio.member.username} -->
            <span th:text="'#' + 123"></span>
          </div>
          <!-- 회원 -->
          <div class="header_member">
            <div class="header_isAnonymous text" sec:authorize="isAnonymous()">
              <a href="/member/login" class="header_login">로그인</a>
              <a href="/member/signup" class="header_signup">회원가입</a>
            </div>
            <div class="header_isAuthenticated text" sec:authorize="isAuthenticated()">
              <a href="/member/logout" class="header_logout">로그아웃</a>
              <a href="/member/mypage" class="header_mypage">마이페이지</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>