<!doctype html>
<html lang="ko" class="non-cursor">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/images/My project.png}" type="image/png">

    <!-- 여기들어간 라이브러리는 혹시 나중에 쓸 수도 있으니까 아는건 몽땅 넣어놓음   -->
    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">-->

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--Bootstrap JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>

    <script>
      // 커서 변경
      document.addEventListener("mousemove", function (e) {
           const cursor = document.getElementById('magic-cursor');
           const cursorWidth = cursor.offsetWidth / 2;
           const cursorHeight = cursor.offsetHeight / 2;
           cursor.style.left = (e.clientX - cursorWidth) + 'px';
           cursor.style.top = (e.clientY - cursorHeight) + 'px';
       });

       document.addEventListener('mouseover', function (e) {
            const cursor = document.getElementById('magic-cursor');
            if (getComputedStyle(e.target).cursor === 'pointer') {
                cursor.classList.add('pointer');
            } else {
                cursor.classList.remove('pointer');
            }
        });
      
      // 재생목록 담기
      
    </script>

    <!-- static 아래의 style.css 연결(폰트 설정) -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <!-- headerStyle.css(헤더 설정) -->
    <link rel="stylesheet" type="text/css" th:href="@{/headerStyle.css}">
    <!-- footerStyle.css(푸터 설정) -->
    <link rel="stylesheet" type="text/css" th:href="@{/footerStyle.css}">
    <!-- 메인 페이지 화면 CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/mainPage.css}">
    <!-- 회원가입 페이지 화면 CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/member/signup2.css}">
    <!-- 마이페이지 페이지 화면 CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/member/myPage.css}">
    <!-- 스튜디오 화면 CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/studio.css}">
    <!-- 스튜디오 내 음악 상세 페이지 CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/music/musicDetail.css}">
    <!-- 스튜디오 내 방명록 작성 CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/comment/comment.css}">
    <!-- 스튜디오 내 방명록 상세 CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/comment/comment_detail.css}">
    <!-- 커뮤니티메인 CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/post/postList.css}">
    <!-- 포스트레이아웃 CSS   커뮤니티에들어가는기본적인 기본값들-->
    <link rel="stylesheet" type="text/css" th:href="@{/post/postLayout.css}">
    <!-- 글쓰기페이지 CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/post/postWrite.css}">
    <!-- 게시글 Detail CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/post/postDetail.css}">
    <!-- 게시글 Detail CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/post/postProfile1.css}">
    <!-- TOP100 CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/chart/TOP100.css}">
    <!-- 장르별 차트 CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/chart/genreChart.css}">
    <!-- 음악 upload_form CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/music/upload_form.css}">
    <!-- 전체 검색 CSS   -->
    <link rel="stylesheet" type="text/css" th:href="@{/total_search.css}">



    <!-- font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- 우리 홈페이지 메인 타이틀  -->
    <title>Apollon</title>
</head>
<body>
    <!-- 상단 header(메뉴 내비바) -->
    <nav th:replace="~{header :: headerFragment}"></nav>

    <!-- 각 페이지마다 들어가는 내용들 -->
    <th:block layout:fragment="content"></th:block>
    <!-- 기본 템플릿 안에 삽입될 내용 끝 -->
    

    <!-- 하단 footer(플레이 바) -->
    <nav th:replace="~{footer :: footerFragment}"></nav>

    <!-- 커서 -->
    <div id="magic-cursor" class="cursorCustom">
      <div id="ball" class="ballCursor">
        <div id="ball-loader"></div>
      </div>
    </div>
</body>
</html>