<html layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div class="search-container">
            <div class="search_cont_sec">
                <div class="result-title">
                    <span th:text="'🔎검색 결과 총 \''+ ${#lists.size(results)} + '\' 건의 음악이 검색되었습니다🔍'"></span>
                </div>
                <div class="body_chart_container">
                    <div class="search_body">
                        <div class="search_nav">
                            <ul>
                                <li class="number">
                                    <span >번호</span>
                                </li>
                                <li class="music_thumbnail">
                                    <span ></span>
                                </li>
                                <li class="music_title">
                                    <span >곡 제목</span>
                                </li>
                                <li class="music_studio">
                                    <span >스튜디오</span>
                                </li>
                            </ul>
                        </div>
                        <div class="search_list">
                            <ul>
                                <!-- 타임리프를 사용하여 musicList 변수에 저장된 음악 데이터를 반복하여 출력 -->
                                <li class="search_list-num" th:each="music, iterStat : ${results}">
                                    <div class="search_number">
                                        <span th:text="${iterStat.index + 1}"></span>
                                    </div>
                                    <div class="thumbImg">
                                        <img style="width: 50px;" th:src="@{${music.thumbnailImg}}" alt="썸네일이미지">
                                    </div>

                                    <a th:if="${#authorization.expression('isAuthenticated()')}"
                                       class="musicTi"
                                       th:href="@{|/chart/music/detail/${music.id}|}">
                                        <span th:text="${music.musicTitle}"></span>
                                    </a>
                                    <a th:if="${#authorization.expression('isAnonymous()')}"
                                       class="musicTi"
                                       onclick="alert('곡 정보를 확인하려면 로그인이 필요합니다.'); return false;">
                                        <span th:text="${music.musicTitle}"></span>
                                    </a>

                                    <a th:if="${#authorization.expression('isAuthenticated()')}"
                                       class="upstu"
                                       th:href="@{|/chart/music/detail/${music.id}|}">
                                        <span th:text="${music.studio.member.nickname}"></span>
                                    </a>
                                    <a th:if="${#authorization.expression('isAnonymous()')}"
                                       class="upstu"
                                       onclick="alert('곡 정보를 확인하려면 로그인이 필요합니다.'); return false;">
                                        <span th:text="${music.studio.member.nickname}"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
