<html layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div class="top-section">
            <div class="welcome-box">
                <span>#musician nickname 님의 스튜디오에 오신 것을 환영합니다.</span>
            </div>
            <div class="search-box">
                <form>
                    <div class="search-input-box">
                        <input type="text" name="kw" class="form-control" placeholder="스튜디오 닉네임 검색" th:value="${param.kw}">
                        <button type="button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="introduce-box">
            <div class="profile-box">
                <img src="https://thumb.mt.co.kr/06/2016/07/2016071814312232941_1.jpg" alt="1234">
            </div>
            <div class="text-box">
                <div class="common-margin nickname-box">
                    <h2>#musician nickname</h2>
                </div>
                <div class="common-margin email-box">
                    <span>이메일 : </span>
                    <span th:text="${'musician@gmail.com'}"></span>
                </div>
                <div class="common-margin total_music-box">
                    <span>총 업로드 음악 수 : </span>
                    <span th:text="100"></span>
                </div>
                <div class="common-margin like-box">
                <!--  좋아요 개수 추가해야됨  -->
                    <a onclick="return confirm('추천하시겠습니까?');" class="btn btn-sm btn-outline-secondary">
                        좋아요
                        <i class="fa-regular fa-heart"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="detail-box">
            <div class="myMusic-box">
                <div class="top-box">
                    <div class="title">
                        <span>My Music</span>
                    </div>
                    <div class="user-menu"></div>
                </div>
            </div>
            <div class="comment-box"></div>
        </div>
    </div>
</html>