<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="total-box">
        <div class="top-section">
            <div class="welcome-box">
                <span th:text="'#' + ${studio.member.nickname} + ' 님의 스튜디오에 오신 것을 환영합니다.'"></span>
                <a th:href="@{|/studio/${studio.member.username}/changeActive|}"
                   th:if="${#authorization.expression('isAuthenticated()') and #authentication.principal.username == 'admin' and studio.active == 1}">스튜디오 차단</a>
                <a th:href="@{|/studio/${studio.member.username}/changeActive|}"
                   th:if="${#authorization.expression('isAuthenticated()') and #authentication.principal.username == 'admin' and studio.active == 0}">스튜디오  활성화</a>
            </div>
            <div class="myHome-btn">
                  <a th:if="${#authentication.principal.username != studio.member.username}" th:href="@{|/studio/${#authentication.principal.username}|}">내 스튜디오로 가기</a>
            </div>
            <div class="search-box">
                <form th:action="@{/studio/search}" method="POST">
                    <div class="search-input-box">
                        <input type="text" name="kw" class="form-control" required placeholder="스튜디오 이름 검색" th:value="${kw}">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="introduce-box">
            <div class="profile-box">
                <img th:src="@{|/${uploadDir}/${studio.member.image}|}" alt="1234">
            </div>
            <div class="text-box">
                <div class="common-margin nickname-box">
                    <h2 th:text="'#' + ${studio.member.nickname}"></h2>
                </div>
                <div class="common-margin email-box">
                    <span>이메일 : </span>
                    <span th:text="${studio.member.email}"></span>
                </div>
                <div class="common-margin total_music-box">
                    <span>총 업로드 음악 수 : </span>
                    <span th:text="100"></span>
                </div>
                <div class="common-margin total_visit-box">
                    <span>총 방문자 수 : </span>
                    <span th:text="${studio.visit} + ' 명'"></span>
                </div>
                <div class="common-margin like-box">
                    <a onclick="return confirm('방문하신 스튜디오를 추천하시겠습니까?');" class="btn like-plus-btn"
                       th:href="@{|/studio/like/${studio.id}|}">
                        좋아요
                        <span th:text="${#lists.size(studio.likers)}"></span>
                        <i class="fa-regular fa-heart"></i>
                    </a>
                </div>
                <div class="common-margin like-box">
                    <span>스튜디오 개설 날짜 : </span>
                    <span th:text="${#temporals.format(studio.createDate, 'yyyy-MM-dd')}"></span>
                </div>
            </div>
        </div>
        <div class="detail-box">
            <div class="myMusic-box">
                <div class="top-box">
                    <div class="title">
                        <span>음악 목록</span>
                    </div>
                    <div class="user-menu">
                        <a th:action method="post" class="btn music-plus-btn" th:href="@{|/studio/${studio.member.username}/upload|}"
                           th:if="${#authorization.expression('isAuthenticated()') and #authentication.principal.username == 'admin' or #authentication.principal.username == studio.member.username}"
                           th:text="등록">
                        </a>

                        <a href="/music/modify" class="btn music-modify-btn"
                           th:if="${#authorization.expression('isAuthenticated()') and #authentication.principal.username == 'admin' or #authentication.principal.username == studio.member.username}"
                           th:text="수정">
                        </a>

                        <a onclick="return confirm('선택한 음악을 정말 삭제하시겠습니까?')" href="/music/delete"
                           class="btn music-delete-btn"
                           th:if="${#authorization.expression('isAuthenticated()') and #authentication.principal.username == 'admin' or #authentication.principal.username == studio.member.username}"
                           th:text="삭제">
                        </a>
                    </div>
                </div>
                <ul class="music-list">
                    <!-- 타임리프? 체크 박스 전체 선택할 수 있도록 해야함 -->
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckAll">
                            <label class="form-check-label" for="flexCheckAll"></label>
                        </div>
                        <span class="number">번호</span>
                        <span class="music-title">곡 제목</span>
                        <span class="like">좋아요</span>
                        <span class="create-date">등록날짜</span>
                    </li>
                </ul>
                <ul>
                    <!-- 타임리프 적용해서 목록 출력해야됨 -->
                    <li class="music-detail">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div>
                        <span class="number" th:text="1"></span>
                        <div class="music-title">
                            <img src="https://image.bugsm.co.kr/album/images/500/201238/20123812.jpg" alt="사진없음">
                            <a href="chart/detail"><span th:text="'비투비' +  ' - ' + '그리워하다'"></span></a>
                        </div>
                        <div class="like">
                            <span><i class="fa-regular fa-heart"></i></span>
                            <span th:text="200"></span>
                        </div>
                        <span class="create-date" th:text="2024-05-30"></span>
                    </li>
                    <li class="music-detail">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div>
                        <span class="number" th:text="1"></span>
                        <div class="music-title">
                            <img src="https://image.bugsm.co.kr/album/images/500/201238/20123812.jpg" alt="사진없음">
                            <a href="chart/detail"><span th:text="'비투비' +  ' - ' + '그리워하다'"></span></a>
                        </div>
                        <div class="like">
                            <span><i class="fa-regular fa-heart"></i></span>
                            <span th:text="200"></span>
                        </div>
                        <span class="create-date" th:text="2024-05-30"></span>
                    </li>
                    <li class="music-detail">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div>
                        <span class="number" th:text="1"></span>
                        <div class="music-title">
                            <img src="https://image.bugsm.co.kr/album/images/500/201238/20123812.jpg" alt="사진없음">
                            <a href="chart/detail"><span th:text="'비투비' +  ' - ' + '그리워하다'"></span></a>
                        </div>
                        <div class="like">
                            <span><i class="fa-regular fa-heart"></i></span>
                            <span th:text="200"></span>
                        </div>
                        <span class="create-date" th:text="2024-05-30"></span>
                    </li>
                    <li class="music-detail">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div>
                        <span class="number" th:text="1"></span>
                        <div class="music-title">
                            <img src="https://image.bugsm.co.kr/album/images/500/201238/20123812.jpg" alt="사진없음">
                            <a href="chart/detail"><span th:text="'비투비' +  ' - ' + '그리워하다'"></span></a>
                        </div>
                        <div class="like">
                            <span><i class="fa-regular fa-heart"></i></span>
                            <span th:text="200"></span>
                        </div>
                        <span class="create-date" th:text="2024-05-30"></span>
                    </li>
                    <li class="music-detail">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div>
                        <span class="number" th:text="1"></span>
                        <div class="music-title">
                            <img src="https://image.bugsm.co.kr/album/images/500/201238/20123812.jpg" alt="사진없음">
                            <a href="chart/detail"><span th:text="'비투비' +  ' - ' + '그리워하다'"></span></a>
                        </div>
                        <div class="like">
                            <span><i class="fa-regular fa-heart"></i></span>
                            <span th:text="200"></span>
                        </div>
                        <span class="create-date" th:text="2024-05-30"></span>
                    </li>
                    <li class="music-detail">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div>
                        <span class="number" th:text="1"></span>
                        <div class="music-title">
                            <img src="https://image.bugsm.co.kr/album/images/500/201238/20123812.jpg" alt="사진없음">
                            <a href="chart/detail"><span th:text="'비투비' +  ' - ' + '그리워하다'"></span></a>
                        </div>
                        <div class="like">
                            <span><i class="fa-regular fa-heart"></i></span>
                            <span th:text="200"></span>
                        </div>
                        <span class="create-date" th:text="2024-05-30"></span>
                    </li>
                </ul>
            </div>
            <div class="comment-box">
                <div class="top-box">
                    <div class="title">
                        <span>방명록</span>
                        <span th:text="'(' + ${#lists.size(commentList)} + ')'"></span>
                    </div>
                    <div class="user-menu">
                        <a class="comment-plus-btn" th:href="@{|/studio/${studio.member.username}/comment/create/${#authentication.principal.username}|}" th:text="작성"></a>
                        <button class="comment-delete-btn" onclick="return confirm('선택하신 방명록을 삭제하시겠습니까?');"
                                th:text="삭제"
                                th:if="${#authorization.expression('isAuthenticated()') and (#authentication.principal.username == 'admin' or #authentication.principal.username == studio.member.username)}"
                                id="deleteSelectedBtn"></button>
                    </div>
                </div>
                <form id="deleteCommentsForm" method="post" th:action="@{|/studio/${studio.member.username}/comment/delete|}">
                    <ul class="comment-list">
                        <!-- 타임리프? 체크 박스 전체 선택할 수 있도록 해야함 -->
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckAll2">
                                <label class="form-check-label" for="flexCheckAll2"></label>
                            </div>
                            <span class="number">번호</span>
                            <span class="comment-title">제목</span>
                        </li>
                    </ul>
                    <ul>
                        <li th:each="comment, iterStat : ${commentList}" class="comment-detail">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="commentIds" th:value="${comment.id}" id="flexCheckDefault2" th:id="'flexCheckDefault2' + ${iterStat.index}">
                                <label class="form-check-label" th:for="'flexCheckDefault2' + ${iterStat.index}"></label>
                            </div>
                            <a th:href="@{|/studio/${studio.member.username}/comment/detail/${comment.id}|}" class="number" th:text="${iterStat.index + 1}"></a>
                            <a th:href="@{|/studio/${studio.member.username}/comment/detail/${comment.id}|}" class="comment-title" th:text="${comment.title}"></a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var urlParams = new URLSearchParams(window.location.search);
        var alertMessage = urlParams.get('alertMessage');
        if (alertMessage) {
            var alertDiv = document.createElement('div');
            alertDiv.style.color = 'red';
            alertDiv.style.marginTop = '5px';
            alertDiv.textContent = alertMessage;
            var searchInputBox = document.querySelector('.search-input-box');
            searchInputBox.appendChild(alertDiv);
        }
    });

    document.getElementById('flexCheckAll').addEventListener('change', function() {
        let checkboxes = document.querySelectorAll('.music-detail .form-check-input');
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });

    document.getElementById('flexCheckAll2').addEventListener('change', function() {
        let checkboxes = document.querySelectorAll('.comment-detail .form-check-input');
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });

    document.getElementById('deleteSelectedBtn').addEventListener('click', function(event) {
        event.preventDefault();
        let form = document.getElementById('deleteCommentsForm');
        let selectedCheckboxes = document.querySelectorAll('.comment-detail .form-check-input:checked');
        if (selectedCheckboxes.length > 0) {
            if (confirm('선택하신 방명록을 삭제하시겠습니까?')) {
                form.submit();
            }
        }
        else {
            alert('삭제할 댓글을 선택해주세요.');
        }
    });
</script>