
/* 노멀라이즈 */
body, ul, li, a, span {
    margin: 0; padding: 0;
    list-style: none;
    font: inherit;
    vertical-align: baseline;
}

a, input {
  color: inherit;
  text-decoration: none;
}

button, input {
    line-height: normal;
    outline: none;
}

button {
  border: 0;
  background-color: transparent;
}

input: focus {
    outline: none;
}
/* 커스텀 */
.genreChart_container {
    cursor: default;
    height: calc(100vh - 150px);
    overflow-y: auto;
}

.genreChart_cont_sec {
    overflow: hidden;
    overflow-y: auto;
}

/* 상단 nav 추가 */
.chartList_nav2 {
    height: 48px;
    background-color: #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.chartList_nav_sec2 {
    display: flex;
    margin-left: 430px;
    width: 650px;
    height: 100%;
    text-align: center;
    align-items: center;
}

.chartList_nav_TOP1002 {
    width: 130px;
}

.chartList_nav_TOP1002 > a {
    font-size: 18px; font-weight: 300;
    color: #666;
}

.chartList_nav_genreChart2 {
    width: 130px;
}

.chartList_nav_genreChart2 > a {
    font-size: 18px; font-weight: 700;
    color: #111;
}

/* 리스트 보여주는 곳 */
.body_chart_container {
    width: 1470px;
    margin-left: auto; margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.body_chart_container > span {
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.genreChart_body {
    display: flex;
    flex-direction: column;
}

.genreChart_nav {
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.genreChart_nav > ul {
    display: flex;
}

.genreChart_nav > ul > li:nth-child(1) {
    width: 70px;
}

.genreChart_nav > ul > li:nth-child(2) {
    width: 80px;
}

.genreChart_nav > ul > li:nth-child(3) {
    width: 48px;
}

.genreChart_nav > ul > li:nth-child(4) {
    width: 660px;
    text-align: left;
}

.genreChart_nav > ul > li:nth-child(5) {
    width: 265px;
    text-align: left;
}

.genreChart_nav > ul > li:nth-child(6) {
    width: 100px;
}

.genreChart_nav > ul > li:nth-child(7) {
    width: 35px;
}

.genreChart_nav > ul > li:nth-child(8) {
    width: 100px;
}

/* 목록 */
.genreChart_list {
    height: 100%;
}

.genreChart_list-num {
    display: flex;
    align-items: center;
    text-align: center;
}

.genreChart_list-num:hover {
    background-color: #e6f5ff;
    cursor: pointer;
}

.genreChart_list > ul > li {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.genreChart_list > ul .genreChart_number {
    width: 100px;
    text-align: center;
}

.genreChart_list > ul .genreChart_musicTitle {
    display: flex;
    align-items: center;
}

.genreChart_list > ul .genreChart_musicTitle > .thumbImg {
    width: 80px;
}

.thumbImg > img {
    margin: 5px;
    height: 50px;
}

.genreChart_list > ul .genreChart_musicTitle > .classnull {
    width: 50px;
}

.genreChart_list > ul .genreChart_musicTitle > .musicTi {
    width: 660px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.genreChart_list > ul .genreChart_musicTitle > .upstu {
    width: 280px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.genreChart_list > ul > li .music_likeCount,
.genreChart_list > ul > li .music_imp,
.genreChart_list > ul > li .music_p {
    width: 100px;
    text-align: center;
}

.genreChart_list > ul > li .music_likeCount i {
    color: #ffa4b3;
}

.genreChart_list > ul > li .music_imp i,
.genreChart_list > ul > li .music_p i {
    color: #000;
}

.fa-plus {
    transition: transform 0.3s ease-in-out;
}

.fa-plus:hover {
    transform: scale(1.3); /* 마우스를 올렸을 때 아이콘 크기 확대 */
}


.hidden {
    display: none;
}

/* 장르별 */
.genres_nav > ul {
    width: 100%;, height: 60px;
    position : relative;
}

/* 장르별 구분 */
.g_list {
    display: flex;
}

.g_list > .g_s {
    width: 200px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    color: #F4F4F4;
    background-color: #36454F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

/* 2차 메뉴 호버 */
.g_list:hover > .g_s {
    background-color: #F4F4F4;
    color: #36454F;
    border: none;
}

.g_list:visited > .genreChart_nav {
    display: block;
}


/* 3차 메뉴 */
.genreChart_nav {
  position: absolute;
  background-color: #F4F4F4;
  left: 100%; top: 0;
  width: 1056px; height: 100%;
  display: flex; flex-direction: column;
  display: none;
}