
/* 노멀라이즈 */
body, ul, li, a, span {
    margin: 0; padding: 0;
    list-style: none;
    font: inherit;
    vertical-align: baseline;
}

a, input {
  color: inherit;
  text-decoration: none;
}

button, input {
    line-height: normal;
    outline: none;
}

button {
  border: 0;
  background-color: transparent;
}

input: focus {
    outline: none;
}
/* 커스텀 */
.TOP100_container {
    cursor: default;
    height: calc(100vh - 150px);
    overflow-y: auto;
}

.TOP100_cont_sec {
    overflow: hidden;
    overflow-y: auto;
}

/* 상단 nav 추가 */
.chartList_nav {
    height: 48px;
    background-color: #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.chartList_nav_sec {
    display: flex;
    margin-left: 430px;
    width: 650px;
    height: 100%;
    text-align: center;
    align-items: center;
}

.chartList_nav_TOP100 {
    width: 130px;
}

.chartList_nav_TOP100 > a {
    font-size: 18px; font-weight: 700;
    color: #111;
}

.chartList_nav_genreChart {
    width: 130px;
}

.chartList_nav_genreChart > a {
    font-size: 18px; font-weight: 300;
    color: #666;
}

/* 리스트 보여주는 곳 */
.body_chart_container {
    width: 1470px;
    margin-left: auto; margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.body_chart_container > span {
    font-size: 28px;
    font-weight: 500;
}

.TOP100_body {
    display: flex;
    flex-direction: column;
}

.TOP100_nav {
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.TOP100_nav > ul {
    display: flex;
}

.TOP100_nav > ul > li:nth-child(1) {
    width: 16px;
}

.TOP100_nav > ul > li:nth-child(2) {
    width: 84px;
}

.TOP100_nav > ul > li:nth-child(3) {
    width: 80px;
}

.TOP100_nav > ul > li:nth-child(4) {
    width: 50px;
}

.TOP100_nav > ul > li:nth-child(5) {
    width: 660px;
    text-align: left;
}

.TOP100_nav > ul > li:nth-child(6) {
    width: 280px;
    text-align: left;
}

.TOP100_nav > ul > li:nth-child(7) {
    width: 100px;
}

.TOP100_nav > ul > li:nth-child(8) {
    width: 100px;
}

.TOP100_nav > ul > li:nth-child(9) {
    width: 100px;
}

/* 목록 */
.TOP100_list {
    overflow-y: auto;
    height: 100%;
}

.TOP100_list-num {
    display: flex;
    align-items: center;
    text-align: center;
}

.TOP100_list-num:hover {
    background-color: #e6f5ff;
    cursor: pointer;
}

.TOP100_list > ul > li {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.TOP100_list > ul .TOP100_form-check {
    width: 16px;
}

.TOP100_list > ul .TOP100_number {
    width: 84px;
    text-align: center;
}

.TOP100_list > ul .TOP100_musicTitle {
    display: flex;
    align-items: center;
}

.TOP100_list > ul .TOP100_musicTitle > .thumbImg {
    width: 80px;
}

.thumbImg > img {
    margin: 5px;
    height: 50px;
}

.TOP100_list > ul .TOP100_musicTitle > .classnull {
    width: 50px;
}

.TOP100_list > ul .TOP100_musicTitle > .musicTi {
    width: 660px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TOP100_list > ul .TOP100_musicTitle > .upstu {
    width: 280px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TOP100_list > ul > li .music_likeCount,
.TOP100_list > ul > li .music_imp,
.TOP100_list > ul > li .music_p {
    width: 100px;
    text-align: center;
}

.TOP100_list > ul > li .music_likeCount i {
    color: #ffa4b3;
}

.TOP100_list > ul > li .music_imp i,
.TOP100_list > ul > li .music_p i {
    color: #000;
}