
.notice-box {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notice-header {
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
}

.notice-header span {
  font-size: 20px;
  font-weight: bold;
}

.notice-body {
  padding: 10px;
}

.notice-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.notice-item:last-child {
  border-bottom: none;
}

.notice-item span {
  font-size: 16px;
  background-color: #e0e0e0;
  color:red;
  padding: 5px 10px;
  border-radius: 5px;
}

.category-box {
  display: flex;
  justify-content: column;
  padding: 5px 0;
  flex-direction:row;
  width:780px;
  margin-left:50px;
}


.category-box span {
  flex: 1;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}





.postbox-body {
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-item {
  display: flex;
  align-items: center;
  padding: 7px 0;
  border-bottom: 1px solid #eee;
}

.post-item:last-child {
  border-bottom: none;
}

.post-item span {
  display: block;
  font-size: 14px;
  background-color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}



.postList-footer {
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 요소들 사이에 공간 배분 */
    align-items: center; /* 수직 중앙 정렬 */
    bottom: 100px; /* 필요에 따라 조정 */
    width: 87%;
    margin-left: 5%; /* 푸터 중앙 정렬 */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.postList-footer2 {
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 요소들 사이에 공간 배분 */
    align-items: center; /* 수직 중앙 정렬 */
    bottom: 50px; /* 필요에 따라 조정 */
    width: 87%;
    margin-left: 5%; /* 푸터 중앙 정렬 */

    padding: 10px;
}

.paging {
    display: flex;
    justify-content: center; /* 숫자들을 중앙 정렬 */
    width: 100%; /* 전체 폭 사용 */
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    text-decoration: none;
    color: #007bff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.page-item.disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}



.post-title {
  flex: 3;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-writer {
  flex: 1;
  text-align: center;
  margin-left: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-createDate {

  flex: 1.5;
  text-align: center;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-hit {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-box > span:nth-child(1) {



}

.category-box > span:nth-child(2) {
  margin-left:95px;

}

.category-box > span:nth-child(3) {
  margin-left:180px;


}

.category-box > span:nth-child(4) {
  margin-left:30px;

}

.category-box > span:nth-child(5) {
text-align:center;


}

.postWriteButton {
margin-left:650px;
    width:130px;
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

/* Responsive Design */
@media (max-width: 768px) {
  .middle {
    width: 100%;
  }

  .category-box {
    flex-direction: column;
  }

  .category-box span {
    margin: 5px 0;
  }
